@import "tailwindcss";

@font-face {
  font-family: "gt-super";
  src: url("../public/fonts/gt-super-400-normal.woff") format("woff");
}

.font-gt-super {
  font-family: "gt-super";
}

body{
  overflow-x: hidden;
}